<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kierasis.qpasslaurel">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_qpass"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_qpass_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".checkpoint_blocked"></activity>
        <activity android:name=".show_qpasscode" />
        <activity android:name=".change_profile_pic" />
        <activity android:name=".profile" />
        <activity android:name=".about" />
        <activity android:name=".hidden_info" />
        <activity android:name=".featured_view" />
        <activity android:name=".case_view" />
        <activity android:name=".case_list" />
        <activity android:name=".tracker" />
        <activity android:name=".scan_result" />
        <activity android:name=".scan" />
        <activity android:name=".register" />
        <activity android:name=".login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter></activity>
        <activity android:name=".splash">
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>